.fff {
    color: red;
}
.f {
    color: red;
}
.cc {
    padding: 30px;
    line-height: 10px;
    color: red;
}
.df {
    padding: 60px;

}
.rt {
    padding: 30px;
    color: red;
}
.ff {
    padding: 25px;
    color: red;
}
.fg {
    padding: 60px;

}
.vv {
    padding: 25px;
    color: red;
}
.ot {
    line-height: 50px;
    
}
.sp {
    line-height: 50px;
    
}
.color {
    color: red;
}
.colorr {
    color: red;
}
.colorrr {
    color: red;
}
.colo {
    color: red;
}
.lol {
    color: red;
}
.end {
    color: red;
}
.fgfg {
    color: red;
}
.b {
    color: red;
}
.bb {
    color: red;
}
.fgg {
    color: red;
}
.fvf {
    color: red;
}
.red {
    background-color: rgb(0, 238, 255);
    max-width: 106px;
}
.blue {
    background-color: rgb(0, 238, 255);
    
}
.white {
    background-color: rgb(0, 238, 255);
}
.aqua {
    background-color: rgb(0, 238, 255);
}
.px {
    background-color: rgb(0, 238, 255);
}
.lll {
    background-color: rgb(0, 238, 255);
}
.lololol {
    background-color: rgb(0, 238, 255);
}
.kkk {
    background-color: rgb(0, 238, 255);
}
.jkjkjk {
    background-color: rgb(0, 238, 255);
}
.fgfgfg {
    background-color: rgb(0, 238, 255);
}
.ggg {
    background-color: rgb(0, 238, 255);
}


