
.fgfg {
    font-size: 50px;
    background-color: rgb(238, 236, 236);   
}
.fgfgfg {
    font-size: 50px;
    color: red;
    background-color: rgb(238, 236, 236);   
}
.g {
    font-size: 50px;
    color: red;
    background-color: rgb(238, 236, 236);   

}
.gg {
    font-size: 50px;
    color: red;
    background-color: rgb(238, 236, 236);   
}
.lol {
    font-size: 50px;
    background-color: rgb(238, 236, 236);   
}
.olo {
    font-size: 50px;
    background-color: rgb(238, 236, 236);   
}
.columb {
    font-size: 50px;
    color: red;
    background-color: rgb(238, 236, 236);
}
.cvv {
    font-size: 50px;
    background-color: rgb(238, 236, 236);
}
.css {
    font-size: 50px;
    background-color: rgb(238, 236, 236);
}
.ll {
    font-size: 50px;
    color: red;
    background-color: rgb(238, 236, 236);
}
.ooo {
    font-size: 50px;
    background-color: rgb(238, 236, 236);
}
.gff {
    font-size: 50px;
    color: red;
    background-color: rgb(238, 236, 236); 
}
