.p {
    background-color: plum;
    margin-block-end: 30px;
    text-align: center;
    max-width: 100px;
    margin: 50px auto;
}
.r {
    color: red;
}
.rr {
    color: red;
}
.rrr {
    color: red;
}
.rrrr {
    color: red;
}
.rrrrr {
    color: red;
}
.ba {
    background-color: plum;
    margin-block-end: 30px;
    text-align: center;
    max-width: 120px;
    margin: 50px auto;
}
.d {
    color: red;
}
.e {
    color: red;
}
.f {
    color: red;
}
.g {
    color: red;
}
.n {
    color: red;
}
.c {
    color: red;
}
.css {
    background-color: plum;
    margin-block-end: 30px;
    text-align: center;
    max-width: 130px;
    margin: 50px auto;
}
.j {
    color: red;
}
.v {
    background-color: plum;
    margin-block-end: 30px;
    text-align: center;
    max-width: 130px;
    margin: 50px auto;
}
.z {
    color: red;
}
.cv {
    background-color: plum;
    margin-block-end: 30px;
    text-align: center;
    max-width: 125px;
    margin: 50px auto;
}
.df {
    color: red;
}
.fg {
    color: red;
}
.pink {
    background-color: plum;
    margin-block-end: 30px;
    text-align: center;
    max-width: 209px;
    margin: 50px auto;
}
.dc {
    color: red;
}
.dfdf {
    color: red;
}
.fdfd {
    color: red;
}
.ffffc {
    color: red;
}