.gt {
    font-size: 30px;
}
.size {
    font-size: 22px;
}
.size2 {
    font-size: 22px;
}
.size3 {
    font-size: 22px;
}
.gtt {
    font-size: 30px;
}
.size4 {
    font-size: 22px;
}
.size5 {
    font-size: 22px;
}
.size6 {
    font-size: 22px;
}
.gttt {
    font-size: 30px;
}
.size7 {
    font-size: 22px;
}
.size8 {
    font-size: 22px;
}
.size9 {
    font-size: 22px;
}
.gtttt {
    font-size: 30px;
}
.size10 {
    font-size: 22px;
}
.size11 {
    font-size: 22px;
}
.size12 {
    font-size: 22px;
}
